@import "tailwindcss";
@plugin "daisyui" {
  themes: light, dark, night --default, nord, autumn, cyberpunk;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} 

.radial-glow {
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 800px;
  height: 400px;
  background: radial-gradient(circle at 50% 0%, rgb(95, 90, 249, 0.3), transparent 70%);
  pointer-events: none;
  z-index: 50;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.5; }
}

@keyframes slowBlink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.3; }
}

.animate-blink {
  animation: blink 1.5s infinite;
}

@keyframes press-blink {
  0%, 100% {
    background-color: transparent;
    box-shadow: none;
  }
  50% {
    background-color: #9ca3af; /* Tailwind gray-400 */
    box-shadow: 0 0 10px rgba(156, 163, 175, 0.6);
  }
}

.animate-press-blink {
  animation: press-blink 2s ease-in-out infinite;
}

.radial-signal {
  position: absolute;
  top: 0;
  bottom: 10;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 800px;
  height: 400px;
  background: radial-gradient(circle at 50% 0%, rgba(0, 255, 0, 0.3), transparent 70%);
  pointer-events: none;
  z-index: 50;
  animation: slowBlink 4s infinite;
}

.blue-radial-signal {
  position: absolute;
  top: 0;
  bottom: 10;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 800px;
  height: 400px;
  background: radial-gradient(circle at 50% 0%, rgba(0, 100, 255, 0.3), transparent 70%);
  pointer-events: none;
  z-index: 50;
  animation: slowBlink 4s infinite;
}